<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payloads</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th><abbr title="name">name</abbr></th>

                <th><abbr title="type">type</abbr></th>

                <th><abbr title="customers">customers</abbr></th>

                <th><abbr title="nationalities">nationalities</abbr></th>
                <th><abbr title="manufacturers">manufacturers</abbr></th>
            </tr>
        </thead>
        <tbody>
            <% payloads.forEach(function(payload) { %>
                <tr>
                    <td>
                        <%= payload.name %>
                    </td>

                    <td>
                        <%= payload.type %>
                    </td>

                    <td>
                        <%= payload.customers %>
                    </td>

                    <td>
                        <%= payload.nationalities %>
                    </td>
                    <td>
                        <%= payload.manufacturers %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

</body>

</html>